@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;

.form-button {
  &__button {
    background-color: $primary-blue;
    color: $primary-white;
    border: none;
    width: 100%;
    height: 3.5rem;
    border-radius: 5px;
    order: 1;
    // @include demi-weight-item;
    font-size: 1.2rem;
    // background-image: url(../../assets/icons/upload.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 1rem 0.7rem;
  }
}
