@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/layout" as *;

.form-button {
  display: flex;
  justify-content: center;
  text-decoration: none;

  @include tablet-breakpoint {
    justify-content: flex-end;
  }
  &__button {
    background-color: $primary-blue;
    color: $primary-white;
    border: none;
    width: 100%;
    height: 3.5rem;
    border-radius: 5px;
    order: 1;
    font-size: 1.2rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 1rem 0.7rem;
    min-width: 15rem;

    @include tablet-breakpoint {
      max-width: 14rem;
    }
  }

  &__button:hover {
    cursor: grab;
  }
}
