@use "../../styles/partials/typography" as *;
@use "../../styles/partials/layout" as *;
@use "../../styles/partials/colours" as *;

.below-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;

  @include tablet-breakpoint {
    width: 50%;
  }

  @include desktop-breakpoint {
    border-left: 2px solid $secondary-mercury;
  }

  &__title {
    @include video-meta-text;
    font-weight: 600;
  }
}
