@use "../../styles/partials/typography" as *;

.below-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  &__title {
    @include video-meta-text;
    font-weight: 600;
  }
}
