@use "../../styles/partials/layout" as *;
.commentsform {
  display: flex;

  &__left {
    width: auto;
    padding-top: 2rem;

    @include tablet-breakpoint {
      max-width: 4.625rem;
    }
  }

  &__right {
    width: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    @include tablet-breakpoint {
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__button {
    width: 100%;
    @include tablet-breakpoint {
      width: 30%;
      margin-top: 2rem;
      margin-left: 0rem;
      flex-grow: 2;
    }
  }

  &__input {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include tablet-breakpoint {
      width: 70%;
      flex-direction: column;
    }

    @include desktop-breakpoint {
      width: 65%;
    }
  }
}
