@use "../../styles/partials/layout" as *;
.commentsform {
  display: flex;

  &__left {
    width: auto;
    padding-top: 32px;

    @include tablet-breakpoint {
      max-width: 4.625rem;
    }
  }

  &__right {
    width: 100%;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    @include tablet-breakpoint {
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__button {
    width: 100%;
    @include tablet-breakpoint {
      width: 30%;
      margin-top: 32px;
      margin-left: 0px;

      flex-grow: 2;
    }
  }

  &__input {
    width: 100%;
    flex-grow: 1;

    @include tablet-breakpoint {
      width: 70%;
    }
  }
}
