//primary colours

$primary-black: #323232;
$primary-blue: #0095ff;
$primary-silver: #afafaf;
$primary-white: #ffffff;

//secondary colours

$secondary-black: #000000;
$secondary-blue: #0054ad;
$secondary-mercury: #e1e1e1;
$secondary-white: #fafafa;

//form validation

$error-background: #ffe0e0;
$error-primary: red;
