@use "../../styles/partials/layout" as *;
.headerlogo {
  display: flex;
  align-items: center;
  margin: 1rem;

  &__image {
    height: 2.3rem;

    @include tablet-breakpoint {
      max-width: 10rem;
    }
  }
}
