@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colours" as *;

.videothumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  &__button {
    display: flex;
    background-color: $primary-white;
    border: none;
  }

  &__left {
    margin: auto auto;
  }

  &__right {
    margin: auto auto;
    padding-left: 1rem;
  }

  &__image {
    object-fit: cover;
    height: 110px;
    width: 180px;
    border-radius: 5px;
  }

  &__title {
    display: block;
    text-align: left;
    margin: 0;
    margin-bottom: 0.8rem;
    @include demi-weight-item;
  }

  &__creator {
    text-align: left;
    @include description-comments;
    margin: 0;
  }
}
