@use "../../styles/partials/typography" as *;
@use "../../styles/partials/layout" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include page-header-desktop;

  @include tablet-breakpoint {
    flex-direction: row;
  }

  @include desktop-breakpoint {
  }
}
