@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/layout" as *;
@use "../../styles/partials/colours" as *;

.uploadform {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  @include tablet-breakpoint {
  }

  &__placeholder {
    border-radius: 10px;
    width: 100%;

    @include tablet-breakpoint {
      max-width: 30rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    @include tablet-breakpoint {
      flex-direction: row;
      width: 80vw;
    }
  }

  &__form {
    @include desktop-breakpoint {
      display: flex;
      width: 100%;
    }
  }
  &__block {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;

    &--top {
      margin-bottom: 1rem;
    }

    &--middle {
      width: 100%;
    }

    &--bottom {
      @include desktop-breakpoint {
        display: flex;
      }
    }
    &--bothbottom {
      @include desktop-breakpoint {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-left: 2rem;
        align-items: flex-end;
      }
    }
  }

  &__input {
    @include input-style;
    width: 100%;
    height: 9rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    resize: none;
    @include input-placeholder-style;

    &--title {
      height: 3.7rem;
      max-width: 120rem;

      &--description {
      }
    }

    &--error {
      border-color: $error-primary;
      background-color: $error-background;
    }
  }

  &__input:focus {
    @include input-style;
    width: 100%;
    height: 9rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    resize: none;
    @include input-placeholder-style;

    @include tablet-breakpoint {
      height: 3.7rem;
      max-width: 120rem;
    }
  }

  &__input::placeholder {
    @include input-placeholder-style;
    align-self: flex-start;
  }

  &__label {
    @include video-meta-text;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet-breakpoint {
      flex-direction: row;
      justify-content: flex-end;
    }

    @include desktop-breakpoint {
    }
  }

  &__button {
    width: 100%;
    margin-bottom: 0.5rem;
    justify-self: center;

    &--publish {
      margin-right: 0;

      @include tablet-breakpoint {
        order: 1;
      }

      @include tablet-breakpoint {
        display: flex;
      }
    }

    &--cancel {
      @include tablet-breakpoint {
      }
      @include tablet-breakpoint {
        display: flex;
      }
    }
  }
}
