@use "../../styles/partials/typography" as *;

.video-likes {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  &__text {
    @include video-meta-text;
    padding-bottom: 0.3rem;
    align-items: flex-start;
    margin: 0;
    margin-left: 0.5rem;
  }
}
