@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/globals" as *;

.form-input {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;

  &__field {
    @include input-style;
    @include input-placeholder-style;
    width: 100%;
    // max-width: 22rem;
  }

  &__field::placeholder {
    @include input-placeholder-style;
  }

  &__icon {
    background: url(../../assets/icons/search.svg) no-repeat left;
    padding-left: 4rem;
    background-size: 1.6rem;
    background-position: 1.2rem 0.7rem;
    background-color: $secondary-white;
  }
}
