@use "../../styles/partials/layout" as *;

.player {
  display: flex;
  justify-content: center;

  width: 100%;

  background-color: black;

  &__screen {
    width: 100%;

    @include tablet-breakpoint {
      width: 90%;
      height: 37.5rem;
    }
    @include desktop-breakpoint {
      width: 70%;
    }
  }
}
