@import "./styles/partials/resets";
@import "./styles/partials/layout";
@import "./styles/partials/globals";
@import "./styles/partials/typography";

body {
  margin: 0;
  font-family: $avenir;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
